/* Common Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* Header Styles */
header {
  background-color: #f4f4f4;
  color: white;
  padding: 20px;
}

/* Container Styles */
.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
  padding: 10px;
}

/* Heading Styles */
h2 {
  text-align: center;
  color: #333;
  /* font-size: 16px; */
}

/* Form Styles */
form {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Button Styles */
button {
  background-color: #90c44e;
  color: #fff;
  padding: 17px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 16px;
  font-weight: bolder;
}

button[type="submit"]:hover {
  background-color: #363635;
}

/* Results Header Styles */
.results-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* Actions Styles */
.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;
}

#copy-button,
#clear-response,
#clear-response_err {
  background-color: #90c44e;
  color: #fff;
  padding: 17px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 15px;
  visibility: visible;
}

#copy-button:hover,
#clear-response:hover,
#clear-response_err:hover {
  background-color: #363635;
}

/* Result List Styles */
#result-list {
  list-style-type: disc;
  padding-left: 30px;
  margin-top: 20px;
  font-size: 20px;
}

#result-list li {
  margin-bottom: 15px;
}

@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .container {
    width: 90%;
    margin: auto;
    overflow: hidden;
    padding: 40px;
  }

  form {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    height: 232px;
  }

  input[type="text"] {
    padding: 20px;
    width: 90%;
  }

  label {
    font-size: 30px;
  }

  h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: xxx-large;
  }

  h2 {
    font-size: 38px;
  }

  form {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  #copy-button,
  #clear-response,
  #clear-response_err {
    padding: 20px 40px;
    border-radius: 32px;
    margin-right: 12px;
    font-size: 21px;
  }
  button {
    padding: 20px 40px;
    border-radius: 32px;
    margin-right: 12px;
    font-size: 21px;
  }
}
